.modal {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .modal-content {
    background-color: $clrBoardBg;
    width: 300px;
    min-height: 150px;
    padding: 1rem 1.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .modal-close {
      background: none;
      color: $clrNumber;
      display: flex;
      font-size: 1.2rem;
      border: none;
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
    }

    .modal-text {
      color: $clrNumber;
      margin: 10px 20px 0 0;
      font-size: 0.9rem;
    }

    .modal-buttons {
      display: flex;
      justify-content: space-between;

      button {
        color: $clrNumber;
        background: none;
        border: none;
        font-family: "Poppins", sans-serif;
        font-size: 0.7rem;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
