.sudoku-board,
.sudoku-region,
.node-buttons,
.node-notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sudoku-board {
  width: fit-content;
  border: 2px solid black;

  .sudoku-region {
    border: 1px solid black;

    .sudoku-node {
      width: 50px;
      height: 50px;
      background-color: $clrDark;
      border: 1px solid black;

      .node-value {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        cursor: pointer;
      }

      .node-notes {
        width: 100%;
        height: 100%;
        cursor: pointer;

        .node-note {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.65rem;
          font-weight: bold;
        }
      }

      &:hover {
        background-color: $clrDarkBlue !important;
      }
    }

    .selected {
      background-color: $clrDarkBlue !important;
      color: $clrDarker !important;
    }

    .helper {
      background-color: $clrLightBlue !important;
      color: $clrDarker !important;
    }
  }
}
