.sudoku-board,
.sudoku-region,
.node-buttons,
.node-notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sudoku-board {
  color: $clrNumber;
  width: fit-content;
  border: 2px solid $clrBorder;

  .sudoku-region {
    border: 1px solid $clrBorder;

    .sudoku-node {
      width: 50px;
      height: 50px;
      background-color: $clrBoardBg;
      border: 1px solid $clrBorder;

      .node-value {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        cursor: pointer;
      }

      .node-notes {
        width: 100%;
        height: 100%;
        cursor: pointer;

        .node-note {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.65rem;
          font-weight: bold;
        }
      }

      &:hover {
        background-color: $clrSelectedNode !important;
      }
    }

    .starter {
      color: $clrPermanentNumber !important;
    }

    .selected {
      background-color: $clrSelectedNode !important;
    }

    .helper {
      background-color: $clrHelperNode !important;
    }
  }
}

@media screen and (max-width: $medium) {
  .sudoku-board {
    border-width: 1px;
    .sudoku-region {
      border-width: 1px;
      .sudoku-node {
        width: 45px;
        height: 45px;

        .node-notes {
          .node-note {
            width: 100%;
            height: 100%;
            font-size: 0.55rem;
            font-size: #max(2vw, 0.55rem);
            font-weight: normal;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $small) {
  .sudoku-board {
    .sudoku-region {
      .sudoku-node {
        width: 10vw;
        height: 10vw;

        .node-value {
          font-size: 7vw;
        }

        .node-notes {
          .node-note {
            font-size: 2vw;
          }
        }
      }
    }
  }
}
