.sudoku-console,
.console-mode,
.console-eraser > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sudoku-console {
  flex-direction: column;
  margin-left: 2rem;

  .console-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .console-row-1 {
      display: grid;
      grid-template-areas:
        "m m m m m "
        "t t t e e";

      .console-mode {
        grid-area: m;
        color: $clrNumber;
        width: 100%;
        padding: 0 4px;
        justify-content: space-between;
        margin-bottom: 5px;
      }

      .console-toggle {
        grid-area: t;
        margin-right: 3px;
        button {
          text-transform: uppercase;
          font-size: 0.65rem;
        }
      }

      .console-eraser {
        grid-area: e;
        button {
          background-color: $clrEraser;
          font-size: 1.2rem;
        }
      }
    }

    .console-row-2 {
      .console-numbers {
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 10px;

          .console-number {
            width: 50px;
            height: 50px;
            position: relative;

            div {
              background-color: $clrNumber;
              color: $clrBoardBg;
              width: 15px;
              height: 15px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 0.7rem;
              font-weight: bold;
              border-radius: 5px;
              position: absolute;
              top: 0;
              right: 0;
            }

            button {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    .console-row-3 {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .console-solve {
        button {
          background-color: $clrSolve;

          &:hover {
            background-color: $clrSolveHover !important;
          }
        }
      }
    }

    button {
      background-color: $clrBoardBg;
      color: $clrNumber;
      width: 100%;
      height: 100%;
      min-height: 30px;
      font-family: "Poppins", sans-serif;
      letter-spacing: 1px;
      border: 2px solid $clrBorder;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: $clrSelectedNode;
      }
    }
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

@media screen and (max-width: $small) {
  .sudoku-console {
    margin-top: 10px;
    .console-buttons {
      grid-template-areas:
        "mode toggle erase"
        "number number number"
        "new make solve";

      .console-row-1 {
        display: flex;
        align-items: center;

        .console-mode {
          width: 100%;
          margin: 0;
          justify-content: start;
          align-items: center;

          span {
            margin-left: 10px;
          }
        }

        .console-toggle {
          justify-self: end;
          min-width: 110px;
          button {
            text-transform: uppercase;
            font-size: 0.65rem;
          }
        }

        .console-eraser {
          justify-self: end;
          min-width: 50px;
          button {
            background-color: $clrEraser;
            font-size: 1.2rem;
          }
        }
      }

      .console-row-2 {
        .console-numbers {
          ul {
            grid-template-columns: repeat(9, 1fr);
            gap: 3px;
          }
        }
      }

      .console-row-3 {
        flex-direction: row;

        div {
          width: 100%;
        }
      }
    }
  }
}
