@import "./variables.scss";
@import "./components/sudokuBoard.scss";
@import "./components/sudokuConsole.scss";
@import "./components/modals.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  background-color: $clrDarker;
  color: $clrLight;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

.App {
  width: 100%;
  max-width: 1080px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sudoku-game {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
