$clrMainBg: #222831;
$clrBoardBg: #393e46;
$clrBorder: #1e2022;
$clrPermanentNumber: #5ddb23;
$clrNumber: #c9d6df;
$clrSelectedNode: #00bfc9b4;
$clrHelperNode: #585f6b;

$clrEraser: #00adb5;
$clrSolve: #ff2e62cb;
$clrSolveHover: #ff2e62;
