$clrMainBg: #222831;
$clrBoardBg: #393e46;
$clrBorder: #1e2022;
$clrPermanentNumber: #d3d3d3;
$clrNumber: #c9d6df;
$clrSelectedNode: #00bfc9b4;
$clrHelperNode: #585f6b;

$clrEraser: blue;
$clrSolve: red;
